<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="7zip" />
  <package id="7zip.install" />
  <package id="awscli" />
  <package id="azure-cli" />
  <package id="chocolatey" />
  <package id="chocolatey-compatibility.extension" />
  <package id="chocolatey-core.extension" />
  <package id="chocolatey-dotnetfx.extension" />
  <package id="chocolatey-font-helpers.extension" />
  <package id="chocolatey-visualstudio.extension" />
  <package id="chocolatey-windowsupdate.extension" />
  <package id="curl" />
  <package id="dbeaver" />
  <package id="docker-desktop" />
  <package id="dotnet" />
  <package id="dotnet-10.0-runtime" />
  <package id="DotNet4.5" />
  <package id="dotnetfx" />
  <package id="dotnet-runtime" />
  <package id="fd" />
  <package id="fzf" />
  <package id="git" />
  <package id="git.install" />
  <package id="go" />
  <package id="golang" />
  <package id="gzip" />
  <package id="jq" />
  <package id="KB2919355" />
  <package id="KB2919442" />
  <package id="KB2999226" />
  <package id="KB3033929" />
  <package id="KB3035131" />
  <package id="lazygit" />
  <package id="less" />
  <package id="libreoffice-fresh" />
  <package id="llvm" />
  <package id="lua51" />
  <package id="luarocks" />
  <package id="make" />
  <package id="mingw" />
  <package id="miniforge3" />
  <package id="neovim" />
  <package id="nerd-fonts-RobotoMono" />
  <package id="nodejs-lts" />
  <package id="obs-studio" />
  <package id="obs-studio.install" />
  <package id="openssh" />
  <package id="packer" />
  <package id="postman" />
  <package id="pulumi" />
  <package id="r" />
  <package id="R.Project" />
  <package id="r.studio" />
  <package id="ripgrep" />
  <package id="rtools" />
  <package id="rust" />
  <package id="sonarqube-scanner.portable" />
  <package id="terraform" />
  <package id="tree-sitter" />
  <package id="vcredist140" />
  <package id="vcredist2015" />
  <package id="vcredist2017" />
  <package id="visualstudio2022buildtools" />
  <package id="visualstudio2022-workload-vctools" />
  <package id="visualstudio-installer" />
  <package id="vscode" />
  <package id="vscode.install" />
  <package id="windows-sdk-10.0" />
  <package id="yq" />
  <package id="zig" />
</packages>